---
import MainLayout from "../layouts/MainLayout.astro"

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<MainLayout title="Blog Posts">
	<section>
		<ul class="list-none p-[unset] flex flex-col gap-6">
			{
			posts.map((post) => (
				<li class="flex gap-4">
				<time datetime={post.frontmatter.pubDate}>
					{new Date(post.frontmatter.pubDate).toLocaleDateString(
					"en-us",
					{
						year: "numeric",
						month: "short",
						day: "numeric",
					}
					)}
				</time>
				<a class="hover:text-blue-500 hover:underline" href={post.url} rel="prefetch">
					{post.frontmatter.title}
				</a>
				</li>
			))
			}
		</ul>
	</section>
</MainLayout>
