---
import send from "../assets/icons/Send.svg"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Get in Touch with Me">
	<section class="wrapper mx-auto px-4 max-w-2xl">
		<p>
			Building something special and want to chat? I would love to hear
			about it! Send me an email and we can schedule a time to talk.
		</p>
		<div class="flex items-center gap-4 mt-3 mx-auto max-w-fit">
			<span
			class="w-9 h-9 flex items-center justify-center border-t border-zinc-700 rounded-full"
			><img
				src={send}
				alt="send email to jeanfrancoisron@gmail.com"
				height={20}
				width={20}
			/>
			</span>
			<a
			href="mailto:jeanfrancoisron@gmail.com"
			class="text-lg text-zinc-200 underline hover:text-slate-500 focus:text-slate-500"
			>jeanfrancoisron@gmail.com</a
			>
		</div>
	</section>
</MainLayout>
