---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Ron Jean-Francois|
  <a href="https://twitter.com/ronjtech">Twitter</a>|<a
    href="https://www.linkedin.com/in/ronjf/">LinkedIn</a
  >|<a href="https://github.com/ronthetech">Github</a>
  <hr />
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
