---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, "")
---

<a
	href={href}
	class:list={[
		className,
		{ active: isActive },
		"text-xl inline-block py-0 px-2 hover:text-blue-500 hover:underline",
	]}
	{...props}>
	<slot />
</a>
<style>
	a.active {
		font-weight: bolder;
		background-color: darkslateblue;
	}
</style>
