---
import { SITE_TITLE } from "../config";
import HeaderLink from "./HeaderLink.astro";
---

<header class="mx-0 mt-0 mb-8">
  <h1 class="text-5xl font-semibold mx-0 my-2">
    {SITE_TITLE}
  </h1>
  <nav>
    <HeaderLink id="Home" href="/">Home</HeaderLink>
    <HeaderLink id="Portfolio" href="/projects">Portfolio</HeaderLink>
    <HeaderLink id="Blog" href="/blog">Blog</HeaderLink>
    <HeaderLink id="About" href="/about">About</HeaderLink>
    <HeaderLink id="Contact" href="/contact">Contact</HeaderLink>
    <HeaderLink
      id="Today-I-Learned"
      href="https://github.com/ronthetech/til"
      target="_blank"
      rel="noreferrer noopener">TIL</HeaderLink
    >
    <HeaderLink
      id="GitHub"
      href="https://github.com/ronthetech"
      target="_blank"
      rel="noreferrer noopener">
      GitHub
    </HeaderLink>
    <HeaderLink
      id="LinkedIn"
      href="https://www.linkedin.com/in/ronjf/"
      target="_blank"
      rel="noreferrer noopener">
      LinkedIn
    </HeaderLink>
    <HeaderLink
      id="Twitter"
      href="https://twitter.com/ronjtech"
      target="_blank"
      rel="noreferrer noopener">
      Twitter
    </HeaderLink>
  </nav>
</header>
