<ul class="grid grid-cols-1 gap-5 sm:grid-cols-2">
  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/JavaScript.svg" alt="" height={25} width={25} />
    </span>
    <p class="text-zinc-400">JavaScript</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/TypeScript.svg" alt="" height={25} width={25} />
    </span>
    <p class="text-zinc-400">TypeScript</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/NodeJS-Dark.svg" alt="" height={30} width={30} />
    </span>
    <p class="text-zinc-400">Node.js</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/React-Dark.svg" alt="" height={30} width={30} />
    </span>
    <p class="text-zinc-400">React</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/NextJS-Dark.svg" alt="" height={30} width={30} />
    </span>
    <p class="text-zinc-400">Next.js</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/Python-Dark.svg" alt="" height={30} width={30} />
    </span>
    <p class="text-zinc-400">Python</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/PostgreSQL-Dark.svg" alt="" height={35} width={35} />
    </span>
    <p class="text-zinc-400">PostgreSQL</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img src="/icons/MongoDB.svg" alt="" height={30} width={30} />
    </span>
    <p class="text-zinc-400">MongoDB</p>
  </li>
</ul>
